{% extends "layout.html" %}
{% block body %}

    <h2>Incomplete Award</h2>
    {% for award in all_award %}
    {% if award.completed == False %}
        <p>
            Award ID: {{ award.id }}<br>
            Award Description: {{ award.description }}<br>
            <a href="{{ url_for('update_award', id=award.id) }}">Edit</a>
            <a href="{{ url_for('delete_award', id=award.id) }}">Delete</a>
            <a href="{{ url_for('complete_award', id=award.id) }}">Complete</a>
        </p>    
    {% endif %}
    {% endfor %}
    
    <h2>Completed Award</h2>
    {% for award in all_award %}
    {% if award.completed == True %}
        <p>
            Award ID: {{ award.id }}<br>
            Award Description: {{ award.description }}<br>
            <a href="{{ url_for('update_award', id=award.id) }}">Edit</a>
            <a href="{{ url_for('delete_award', id=award.id) }}">Delete</a>
            <a href="{{ url_for('incomplete_award', id=award.id) }}">Incomplete</a>
        </p>    
    {% endif %}
    {% endfor %}

{% endblock body %}