{% extends "layout.html" %}
{% block body %}
    {% for award in awards %}
    <table>
        <h2>{{ award["name"] }}</h2>
        <tr>
            <td><b>club</b></td>
            <td>{{ award["club"] }}</td> 
        </tr>
        <tr>
            <td><b>Stats</b></td>
            <td>{{ award["stats"] }}</td> 
        </tr>            
        </tr>
    </table>
    
    <h3>Players of {{ award["name"] }}</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Club</th>
        </tr>
        {% for player in award["players"] %}
        <tr>
            <td>{{ player["name"] }}</td> 
            <td>{{ player["club"] }}</td> 
        </tr>
        {% endfor %}
    </table>

    {% endfor %}
{% endblock body %}